/***********
General Style
************/

h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

section {
  border-bottom: 1.5px black solid;
  padding-top: 2%;
	border:none;
	padding-bottom: 2%;

}
